<h1>
    Bienvenue
</h1>
<h2>page jardin</h2>
<input type="button" (click)="allerVersAutrePage()" value=" âge jardin">
<form [formGroup]="formPlante" (ngSubmit)="onSubmit()">
    <div> <label for="alphabetic" class="font-bold block mb-2"> Nom de la Plante </label>
        <input formControlName="nom" pInputText id="alphabetic" pKeyFilter="alpha" class="w-full"
            placeholder="Nom.." />
    </div>
    <div> <label for="alphabetic" class="font-bold block mb-2">Age de la plante </label>

        <p-calendar formControlName="age" dateFormat="dd.mm.yy" [showIcon]="true"></p-calendar>
    </div>

    <div><label for="alphabetic" class="font-bold block mb-2">Date du dernier arrosage </label>

        <p-calendar formControlName="dateArrosage" dateFormat="dd.mm.yy" [showIcon]="true"></p-calendar>
    </div>

    <button type="submit">Soummettre</button>

</form>