<h1>
Bienvenue
</h1>
<form [formGroup]="formPlante" (ngSubmit)="onSubmit()">

    <label for="alphabetic" class="font-bold block mb-2"> Nom de la Plante </label>
    <input formControlName="nomPlante" pInputText id="alphabetic" pKeyFilter="alpha" class="w-full" placeholder="Normal" />
    <label for="alphabetic" class="font-bold block mb-2">Age de la plante </label>

    <p-calendar formControlName="agePlante" [showIcon]="true"></p-calendar>

    <label for="alphabetic" class="font-bold block mb-2">Date du dernier arrosage </label>

    <p-calendar  formControlName="dateArrosage" [showIcon]="true"></p-calendar>

 <button type="submit" >Soummettre</button>

  </form>